.btn-ver{
    width: 100%;
}
.jumbotron{
    background-color: rgb(189, 50, 7);
    color: white;
}
footer{
        padding: 10px 20px 0px 20px;
        background-color: rgb(189, 50, 7);
        color: white;
        margin-bottom: 0px;
        margin-top: 15px;
    }

.card-design {
    flex: 1 250px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}